/*---------------all movies style starts here----------------------*/
body {
	margin: 0;
	padding: 0;
	/*width: 300px;*/
	color: #000000;
	font: normal 80%/120% Georgia, "Times New Roman", Times, serif;
}
a {
	color: #000000;
}
h3 {
	font: normal Georgia, "Times New Roman", Times, serif;
	padding-left: 5px;
}
  
/* ---------- gallery styles start here ----------------------- */
.gallery {
	list-style: none; 
	margin: 2px;
	padding: 0px;
	height: auto;
	/*overflow-y: auto;*/
}
.gallery li {
	margin: 10px;
	/*padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 15px;
	margin-top: 10px; 
	position: relative;
	width: 150px; */
	min-height: 150px; 
}

.gallery li:hover {
	/*width: 210px;*/
	height: auto;
	/*padding: 5px;*/
	/*top: 5px;
	left: 0px;
	right: 0px;*/
	background: #EAEAEA;
}

.gallery img {
	background: #fff;
	border: solid 1px #ccc;
	padding: 4px;
}

.gallery p {
	padding-left: 0px;
}

.gallery img a:hover{
			overflow:visible;
			z-index:1000;
			border:none;		
		}

.gallery span {
	/*width: 210px;*/
	height: auto;
	display: block;
	position: relative;
	padding: 5px;
	/*top: 5px;
	left: -10px;
	right: 0px;
	background: transparent;*/
}

.gallery span:hover {
	/*background: rgba(0,0,255,0.5);*/
}

.gallery a {
	text-decoration: none;
}

.gallery_wrapper {
	height: 100%;
	overflow-y: auto;
}

.column {
	columns: 225px auto;
	-webkit-columns: 225px auto;
	-moz-columns: 225px auto;
	-o-columns: 225px auto;	
}

#searchField {
	width: 180px;
}

#searchform {
	margin-bottom: 5px;
}
/*---------------all movies style ends here----------------------*/

/*---------------video player style starts here------------------*/
.player {
	margin: 0 auto;
}
/*---------------video player style starts here------------------*/

/*---------------video player style ends here------------------*/

/*---------------add annotations style starts here------------------*/
.title
{
margin:0px;
padding:0px;
}
.title:hover
{
background-color:#ffffcc;
}
.save
{
background-color:#cc0000;
color:#fff;
padding:4px;
font-size:11px;
border:solid 1px #cc0000;
text-weight:bold;
-moz-border-radius:5px;-webkit-border-radius:5px;
}
.cancel
{
background-color:#dedede;
color:#333;
padding:4px;
font-size:11px;
border:solid 1px #dedede;
-moz-border-radius:5px;-webkit-border-radius:5px;
}

.baseTypeCancel
{
background-color:#dedede;
color:#333;
padding:4px;
font-size:11px;
border:solid 1px #dedede;
-moz-border-radius:5px;-webkit-border-radius:5px;
}

.baseTypeDuration
{
background-color:#dedede;
color:#333;
padding:4px;
font-size:11px;
border:solid 1px #dedede;
-moz-border-radius:5px;-webkit-border-radius:5px;
}

ul#annotation_list
{
margin-left: 0;
padding-left: 0;
white-space: nowrap;
}

#annotation_list li{
display: inline; 
list-style-type: none;
padding-right: 5px;
padding-left: 0px;
margin-left: 0;
}


.baseType
{
background-color:#dedede;
width : 55px;
color:#333;
padding:4px;
font-size:11px;
border:solid 1px #dedede;
-moz-border-radius:5px;-webkit-border-radius:5px;
}

/*---------------add annotations style ends here------------------*/

.fadeMe {
  opacity:    0.9; 
  background: #fff; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}

.ajaxLoader {
	margin: 50px auto;
}

#q {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  cursor: s-resize;
}
